<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="XDevApi\\Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <extensions>
        <extension class="XDevApiTest\Hook\BypassFinalHook"/>
    </extensions>

    <logging>
        <log type="coverage-html" target="./build"/>
        <log type="testdox-html" target="./build/testdox.html"/>
        <log type="coverage-clover" target="./build/clover.xml"/>
    </logging>

    <php>
        <server name="MYSQL_USER" value="dbuser" />
        <server name="MYSQL_PASSWORD" value="654321" />
        <server name="MYSQL_HOST" value="mysql" />
        <server name="MYSQL_DATABASE" value="dbname" />
    </php>
</phpunit>
